.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  font-size: 40px;
  gap:1rem;
  
  
}
.senha{
  -webkit-text-security: disc;
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
}

.container3{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
  align-content: stretch;
}
.container4{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
  gap:3rem;
}
.container_partidas{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
  gap:3rem;
}

.teamtitle{
  display: flex;
  gap:5rem;
  font-size:2rem;
 
}
.infoplayer{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
  gap:1rem;
  font-size:1rem;
}
.infoplayernamedata{
  font-style: italic;
  font-weight:bold;
  color:#0821c6
}
.team{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;  
  flex-wrap:wrap;
  gap:1rem;
}
.container5{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  flex-wrap:wrap;
  gap:1rem;
}
.NomeHeader{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:40px;
    
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.autoresize{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 15px;

}

.form-card-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 10px;
}

.title{
  display:flex;
  flex-direction:column;
  align-items:center;
  
  font-size:40px;
  justify-content:center;
  color: #ebebff;
}
.title2{
  display:flex;
  flex-direction:column;
  align-items:center;
  
  font-size:40px;
  justify-content:center;
  color: #000000;
}
.botao {
  /* width: 50%;
  height: 50%; */

  position: relative;
  display: block;
  padding: 10px 10px 10px 10px; 

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #33ff33;

  transition: background-color 0.3s;

  font-weight: bold;
}
.btnbar {
  /* width: 50%;
  height: 50%; */
  position: relative;
  display: block;
  padding: 10px 10px 10px 10px; 

  overflow: hidden;
  font-size:25px;
  justify-content:center;
  color: #ebebff;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #03e803;

  transition: background-color 0.3s;

  font-weight: bold;
}
.botao > * {
  position: relative;
}
.rotas {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}
.rotas2 {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}
.botao:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.botao:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;

} 
.container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  gap:0.5rem;
}

.form-card{
  margin: 25px;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 32.5%;
  height: 11.5rem;
  border-radius: 5px;
}
.card-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  
  flex-wrap: wrap;
  
}
.card{
  
  width: 16rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
  

  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s;
  padding: 1rem;
  margin-bottom: 2rem;  
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User{
  display: flex;
  background-color: gray; 
  width: fit-content;
  padding: 1rem;
  flex-direction: column ;
  justify-content: space-between;
  margin: 0.9rem; 
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}

.Saved_player{
  display: flex;
  background-color: gray; 
  width: fit-content;
  padding: 1rem;
  flex-direction: column ;
  justify-content: space-between;
  margin: 0.9rem; 
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}

.form{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
  width: 35rem;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 1rem;
  background-color: #f5f5f5;

}

.UserIcon{
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  align-self: center;
}
.UserIcon2{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  align-self: center;
}
.games{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 52rem;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 1rem;
  background-color: #e01a1a;
}
.gameswin{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 52rem;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 1rem;
  background-color: #0dff00;
}

.infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.1rem;
  width: 52rem;
  border-radius: 0.5rem;
  margin: -0.5rem;
}

.UserNick{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  align-self: center;
}

.UserLevel{
  font-size: 1.5rem;
  margin: 0.5rem;
  align-self: center;
}

html{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
}

.testNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  
  width: 100%;
  background-color: #33ff33;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.App-logo{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}


/*LOADING CSS*/
.container_partidas{
  position:relative;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container_partidas .ring
{
  position:relative;
  width:150px;
  height:150px;
  border:4px solid #fff;
  border-radius:50%;
}
.container_partidas .ring:nth-child(3){
  position:absolute;
}

.maestria{
  position:relative;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.maestria-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 52rem;
  border-radius: 0.5rem;
  margin: 0rem;
}

.maestria-content{
  display: flex;
  flex-direction: column;
  font-family: 'Permanent Marker', cursive;
  align-items: center;
  border-radius: 0.5rem;
}

.maestria-one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.maestria-champion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 0.5rem;
  background-color: #786a6a;
}

.maestria-champion-image{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
  align-self: center;
}

.maestria-champion-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
} 

.maestria-score{
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0rem;
}

span{
  margin: 5px;
}